.background {
  border: 2px solid black;
  border-radius: 10px;
  width: 85%;
  margin: 30px auto;
  padding: 10px 20px;
}
#heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bolder;
}
.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
h2.h2 {
  font-size: 20px;
}
#data {
  color: black;
}
li {
  list-style-type: none;
  font-weight: 600;
  font-size: 20px;
}
ul.ul {
  padding-left: 0;
}
h3.h3 {
  font-size: 90px;
}
#celsius,
#fahrenheit {
  font-size: 25px;
  position: relative;
  bottom: 47px;
}
#one,
#two {
  text-decoration: none;
  color: lightsalmon;
}
#one:hover,
#two:hover {
  color: lightskyblue;
  transition: all 200ms ease;
}
div.container {
  padding-left: 0;
  margin-left: 0;
}
div.row {
  margin-left: 0px;
}
li.weather {
  font-size: 90px;
  text-align: center;
}
#description {
  font-weight: 200;
  font-size: 25px;
}
h4.h4 {
  margin-left: 110px;
  font-size: 20px;
}
#author {
  text-decoration: none;
  color: lightsalmon;
  transition: all 200ms ease;
}
#author:hover {
  color: lightskyblue;
}
